@page "{id:int}"
@model AspCoreDemoApp.Pages.Videos.ScreenModel
@{
    ViewData["Title"] = "Screen";
}
<div class="row">
    <div class="col-md-12">
        <a asp-page="./Index" class="btn btn-link btn-sm" asp-route-id="@Model.ChannelID"
           asp-route-SearchTerm="@Model.VideoSearchTerm">
            <i class="fa fa-arrow-circle-left"></i>&nbsp;Back to Videos
        </a>
        <input type="hidden" id="VideoID"  asp-for="VideoID" />
    </div>
</div>
<div class="text-center">
    <div id="player">
    </div>
    <div>
        <i class="fa fa-step-backward fa-lg" style="margin: 20px;cursor:pointer"
           title="Previous" onclick="onPreviousVideoClicked()"></i>
        <i class="fa fa-step-forward fa-lg" style="margin: 20px;cursor:pointer"
           title="Next" onclick="onNextVideoClicked()"></i>
    </div>
</div>

@section Scripts {
   
    <script>
        
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;

        function onYouTubeIframeAPIReady() {
           player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: '@Model.VideoID',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // autoplay video
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
            if (event.data === 0) {

                $.ajax(
                {
                    url: '/youtube/api/video/next/' + $('#VideoID').val(),
                    success: function (response) {
                        player.loadVideoById(response);
                        $('#VideoID').val(response);
                    },
                    error: function (error) {
                        console.log('error', error);
                    }
                })
            }
        }

        //next is clicked
        function onNextVideoClicked() {
           
            $.ajax(
                {
                    url: '/youtube/api/video/next/' + $('#VideoID').val(),
                    success: function (response) {
                        player.loadVideoById(response);
                        $('#VideoID').val(response);
                    },
                    error: function (error) {
                        console.log('error', error);
                    }
                })
        }

        //previous is clicked
        function onPreviousVideoClicked() {
            $.ajax(
                {
                    url: "/youtube/api/video/previous/" + $('#VideoID').val(),
                    success: function (response) {
                        player.loadVideoById(response);
                        $('#VideoID').val(response);
                    },
                    error: function (error) {
                        console.log('error', error);
                    }
                })
        }

    </script>

}
